<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'discount':beer.discount}" >
            <td><img src="{{beer.image}}" alt="{{beer.name}}"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span class="btn btn-warning"  *ngIf="beer.stock==0">Sin stock</span></td>
        </tr>
        <tr>
            <td>Red Red Wine</td>
            <td>Barley Wine</td>
            <td>40</td>
            <td>1200</td>
        </tr>
        <tr>
            <td>La Rubia</td>
            <td>Golden Ale</td>
            <td>60</td>
            <td>1500</td>
        </tr>
    </tbody>
</table>